@media only screen and (max-width: 600px) {
    
body {
    background-image: url(../images/city5.gif);
    background-size: 100%;
}



div {
    display: flexbox;
    justify-content: center;
    text-align: center;
}

html h1 {
    height: 30px;
}
/*Tables*/

table {
    background-color: transparent;
}
td{
    width: 195px; height: 110px;
}


}

@media only screen and (min-width: 601px) and (max-width: 900px){

}